<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATRV</key>
	<dict>
		<key>description</key>
		<string>电瓶电压</string>
		<key>data_key</key>
		<string>car_batteryVoltage</string>
		<key>selector</key>
		<string>analysisBatteryVoltageWithData:::</string>
		<key>unit</key>
		<string>V</string>
		<key>max</key>
		<integer>15</integer>
		<key>min</key>
		<integer>0</integer>
		<key>value</key>
		<integer>0</integer>
		<key>system</key>
		<string>电源系统</string>
		<key>dataId</key>
		<integer>44</integer>
	</dict>
	<key>0101</key>
	<dict>
		<key>description</key>
		<string>车辆故障</string>
		<key>data_key</key>
		<string>obd_faultNum</string>
		<key>selector</key>
		<string>analysisFaultCodeWithData:::</string>
		<key>unit</key>
		<string>个</string>
		<key>max</key>
		<integer>0</integer>
		<key>min</key>
		<integer>0</integer>
		<key>value</key>
		<integer>0</integer>
		<key>system</key>
		<string>故障诊断系统</string>
		<key>dataId</key>
		<integer>48</integer>
	</dict>
	<key>0104</key>
	<dict>
		<key>description</key>
		<string>发动机负荷</string>
		<key>data_key</key>
		<string>obd_engineLoad</string>
		<key>selector</key>
		<string>analysisEngineLoadWithData:::</string>
		<key>unit</key>
		<string>%</string>
		<key>max</key>
		<integer>100</integer>
		<key>min</key>
		<integer>0</integer>
		<key>value</key>
		<integer>0</integer>
		<key>system</key>
		<string>怠速系统</string>
		<key>dataId</key>
		<integer>1</integer>
	</dict>
	<key>0105</key>
	<dict>
		<key>description</key>
		<string>发动机冷却液温度</string>
		<key>data_key</key>
		<string>obd_engineCoolantTemp</string>
		<key>selector</key>
		<string>analysisEngineCoolantTempWithData:::</string>
		<key>unit</key>
		<string>℃</string>
		<key>max</key>
		<integer>130</integer>
		<key>min</key>
		<integer>-40</integer>
		<key>value</key>
		<integer>0</integer>
		<key>system</key>
		<string>冷却系统</string>
		<key>dataId</key>
		<integer>2</integer>
	</dict>
	<key>0106</key>
	<dict>
		<key>description</key>
		<string>短期燃油校正(1，3)</string>
		<key>data_key</key>
		<string>car_shortTermFuelCorrection13</string>
		<key>selector</key>
		<string>analysisTermFuelCorrectionWithData:::</string>
		<key>unit</key>
		<string>%</string>
		<key>max</key>
		<integer>0</integer>
		<key>min</key>
		<integer>0</integer>
		<key>value</key>
		<integer>0</integer>
		<key>system</key>
		<string>燃油系统</string>
		<key>dataId</key>
		<integer>3</integer>
	</dict>
	<key>0107</key>
	<dict>
		<key>description</key>
		<string>长期燃油校正(1，3)</string>
		<key>data_key</key>
		<string>car_longTermFuelCorrection13</string>
		<key>selector</key>
		<string>analysisTermFuelCorrectionWithData:::</string>
		<key>unit</key>
		<string>%</string>
		<key>max</key>
		<integer>0</integer>
		<key>min</key>
		<integer>0</integer>
		<key>value</key>
		<integer>0</integer>
		<key>system</key>
		<string>燃油系统</string>
		<key>dataId</key>
		<integer>4</integer>
	</dict>
	<key>0108</key>
	<dict>
		<key>description</key>
		<string>短期燃油校正(2，4)</string>
		<key>data_key</key>
		<string>car_shortTermFuelCorrection24</string>
		<key>selector</key>
		<string>analysisTermFuelCorrectionWithData:::</string>
		<key>unit</key>
		<string>%</string>
		<key>max</key>
		<integer>0</integer>
		<key>min</key>
		<integer>0</integer>
		<key>value</key>
		<integer>0</integer>
		<key>system</key>
		<string>燃油系统</string>
		<key>dataId</key>
		<integer>5</integer>
	</dict>
	<key>0109</key>
	<dict>
		<key>description</key>
		<string>长期燃油校正(2，4)</string>
		<key>data_key</key>
		<string>car_longTermFuelCorrection24</string>
		<key>selector</key>
		<string>analysisTermFuelCorrectionWithData:::</string>
		<key>unit</key>
		<string>%</string>
		<key>max</key>
		<integer>0</integer>
		<key>min</key>
		<integer>0</integer>
		<key>value</key>
		<integer>0</integer>
		<key>system</key>
		<string>燃油系统</string>
		<key>dataId</key>
		<integer>6</integer>
	</dict>
	<key>010A</key>
	<dict>
		<key>description</key>
		<string>燃油压力</string>
		<key>data_key</key>
		<string>car_fuelPressure</string>
		<key>selector</key>
		<string>analysisFuelPressureWithData:::</string>
		<key>unit</key>
		<string>Kpa</string>
		<key>max</key>
		<integer>100</integer>
		<key>min</key>
		<integer>0</integer>
		<key>value</key>
		<integer>0</integer>
		<key>system</key>
		<string></string>
		<key>dataId</key>
		<integer>7</integer>
	</dict>
	<key>010B</key>
	<dict>
		<key>description</key>
		<string>进气压力</string>
		<key>data_key</key>
		<string>obd_intaskAirPresure</string>
		<key>selector</key>
		<string>analysisIntaskAirPresureWithData:::</string>
		<key>unit</key>
		<string>Kpa</string>
		<key>max</key>
		<integer>100</integer>
		<key>min</key>
		<integer>0</integer>
		<key>value</key>
		<integer>0</integer>
		<key>system</key>
		<string>进气系统</string>
		<key>dataId</key>
		<integer>8</integer>
	</dict>
	<key>010C</key>
	<dict>
		<key>description</key>
		<string>发动机转速</string>
		<key>data_key</key>
		<string>obd_engineRPM</string>
		<key>selector</key>
		<string>analysisEngineRPMWithData:::</string>
		<key>unit</key>
		<string>rpm</string>
		<key>max</key>
		<integer>8000</integer>
		<key>min</key>
		<integer>0</integer>
		<key>value</key>
		<integer>0</integer>
		<key>system</key>
		<string>怠速系统</string>
		<key>dataId</key>
		<integer>9</integer>
	</dict>
	<key>010D</key>
	<dict>
		<key>description</key>
		<string>车速</string>
		<key>data_key</key>
		<string>obd_speed</string>
		<key>selector</key>
		<string>analysisSpeedWithData:::</string>
		<key>unit</key>
		<string>KM/H</string>
		<key>max</key>
		<integer>255</integer>
		<key>min</key>
		<integer>0</integer>
		<key>value</key>
		<integer>0</integer>
		<key>system</key>
		<string>怠速系统</string>
		<key>dataId</key>
		<integer>10</integer>
	</dict>
	<key>010E</key>
	<dict>
		<key>description</key>
		<string>点火提前角</string>
		<key>data_key</key>
		<string>car_angleOfIgnitionAdvance</string>
		<key>selector</key>
		<string>analysisAngleOfIgnitionAdvanceWithData:::</string>
		<key>unit</key>
		<string>度</string>
		<key>max</key>
		<integer>100</integer>
		<key>min</key>
		<integer>0</integer>
		<key>value</key>
		<integer>0</integer>
		<key>system</key>
		<string>怠速系统</string>
		<key>dataId</key>
		<integer>11</integer>
	</dict>
	<key>010F</key>
	<dict>
		<key>description</key>
		<string>进气温度</string>
		<key>data_key</key>
		<string>obd_intaskAirTemp</string>
		<key>selector</key>
		<string>analysisIntaskAirTempWithData:::</string>
		<key>unit</key>
		<string>℃</string>
		<key>max</key>
		<integer>110</integer>
		<key>min</key>
		<integer>0</integer>
		<key>value</key>
		<integer>0</integer>
		<key>system</key>
		<string>进气系统</string>
		<key>dataId</key>
		<integer>12</integer>
	</dict>
	<key>0110</key>
	<dict>
		<key>description</key>
		<string>进气流量</string>
		<key>data_key</key>
		<string>obd_airIntask</string>
		<key>selector</key>
		<string>analysisIntaskFlowWithData:::</string>
		<key>unit</key>
		<string>g/s</string>
		<key>max</key>
		<integer>500</integer>
		<key>min</key>
		<integer>0</integer>
		<key>value</key>
		<integer>0</integer>
		<key>system</key>
		<string>进气系统</string>
		<key>dataId</key>
		<integer>13</integer>
	</dict>
	<key>0111</key>
	<dict>
		<key>description</key>
		<string>节气门开度</string>
		<key>data_key</key>
		<string>car_throttle</string>
		<key>selector</key>
		<string>analysisThrottleWithData:::</string>
		<key>unit</key>
		<string>%</string>
		<key>max</key>
		<integer>100</integer>
		<key>min</key>
		<integer>0</integer>
		<key>value</key>
		<integer>0</integer>
		<key>system</key>
		<string>进气系统</string>
		<key>dataId</key>
		<integer>14</integer>
	</dict>
	<key>0113</key>
	<dict>
		<key>description</key>
		<string>氧传感器位置</string>
		<key>data_key</key>
		<string>car_oxygenSensorPosition</string>
		<key>selector</key>
		<string>analysisOxygenSensorPositionWithData:::</string>
		<key>unit</key>
		<string> </string>
		<key>max</key>
		<integer>0</integer>
		<key>min</key>
		<integer>0</integer>
		<key>value</key>
		<integer>0</integer>
		<key>system</key>
		<string> </string>
		<key>dataId</key>
		<integer>15</integer>
	</dict>
	<key>0114</key>
	<dict>
		<key>description</key>
		<string>缸组1传感器1氧传感器电压</string>
		<key>data_key</key>
		<string>car_oxygenSensorVoltageCylinder1Sensor1</string>
		<key>selector</key>
		<string>analysisOxygenSensorVoltageCylinder1Sensor1WithData:::</string>
		<key>unit</key>
		<string>V{n}%</string>
		<key>max</key>
		<integer>110</integer>
		<key>min</key>
		<integer>0</integer>
		<key>value</key>
		<integer>0</integer>
		<key>system</key>
		<string>电源系统</string>
		<key>dataId</key>
		<integer>16</integer>
	</dict>
	<key>0115</key>
	<dict>
		<key>description</key>
		<string>缸组1传感器2氧传感器电压</string>
		<key>data_key</key>
		<string>car_oxygenSensorVoltageCylinder1Sensor2</string>
		<key>selector</key>
		<string>analysisOxygenSensorVoltageCylinder1Sensor2WithData:::</string>
		<key>unit</key>
		<string>V{n}%</string>
		<key>max</key>
		<integer>0</integer>
		<key>min</key>
		<integer>0</integer>
		<key>value</key>
		<integer>0</integer>
		<key>system</key>
		<string>电源系统</string>
		<key>dataId</key>
		<integer>17</integer>
	</dict>
	<key>0116</key>
	<dict>
		<key>description</key>
		<string>缸组1传感器3氧传感器电压</string>
		<key>data_key</key>
		<string>car_oxygenSensorVoltageCylinder1Sensor3</string>
		<key>selector</key>
		<string>analysisOxygenSensorVoltageCylinder1Sensor3WithData:::</string>
		<key>unit</key>
		<string>V{n}%</string>
		<key>max</key>
		<integer>0</integer>
		<key>min</key>
		<integer>0</integer>
		<key>value</key>
		<integer>0</integer>
		<key>system</key>
		<string>电源系统</string>
		<key>dataId</key>
		<integer>18</integer>
	</dict>
	<key>0117</key>
	<dict>
		<key>description</key>
		<string>缸组1传感器4氧传感器电压</string>
		<key>data_key</key>
		<string>car_oxygenSensorVoltageCylinder1Sensor4</string>
		<key>selector</key>
		<string>analysisOxygenSensorVoltageCylinder1Sensor4WithData:::</string>
		<key>unit</key>
		<string>V{n}%</string>
		<key>max</key>
		<integer>0</integer>
		<key>min</key>
		<integer>0</integer>
		<key>value</key>
		<integer>0</integer>
		<key>system</key>
		<string>电源系统</string>
		<key>dataId</key>
		<integer>19</integer>
	</dict>
	<key>0118</key>
	<dict>
		<key>description</key>
		<string>缸组2传感器1氧传感器电压</string>
		<key>data_key</key>
		<string>car_oxygenSensorVoltageCylinder2Sensor1</string>
		<key>selector</key>
		<string>analysisOxygenSensorVoltageCylinder2Sensor1WithData:::</string>
		<key>unit</key>
		<string>V{n}%</string>
		<key>max</key>
		<integer>0</integer>
		<key>min</key>
		<integer>0</integer>
		<key>value</key>
		<integer>0</integer>
		<key>system</key>
		<string>电源系统</string>
		<key>dataId</key>
		<integer>20</integer>
	</dict>
	<key>0119</key>
	<dict>
		<key>description</key>
		<string>缸组2传感器2氧传感器电压</string>
		<key>data_key</key>
		<string>car_oxygenSensorVoltageCylinder2Sensor2</string>
		<key>selector</key>
		<string>analysisOxygenSensorVoltageCylinder2Sensor2WithData:::</string>
		<key>unit</key>
		<string>V{n}%</string>
		<key>max</key>
		<integer>0</integer>
		<key>min</key>
		<integer>0</integer>
		<key>value</key>
		<integer>0</integer>
		<key>system</key>
		<string>电源系统</string>
		<key>dataId</key>
		<integer>21</integer>
	</dict>
	<key>011A</key>
	<dict>
		<key>description</key>
		<string>缸组2传感器3氧传感器电压</string>
		<key>data_key</key>
		<string>car_oxygenSensorVoltageCylinder2Sensor3</string>
		<key>selector</key>
		<string>analysisOxygenSensorVoltageCylinder2Sensor3WithData:::</string>
		<key>unit</key>
		<string>V</string>
		<key>max</key>
		<integer>0</integer>
		<key>min</key>
		<integer>0</integer>
		<key>value</key>
		<integer>0</integer>
		<key>system</key>
		<string>电源系统</string>
		<key>dataId</key>
		<integer>22</integer>
	</dict>
	<key>011B</key>
	<dict>
		<key>description</key>
		<string>缸组2传感器4氧传感器电压</string>
		<key>data_key</key>
		<string>car_oxygenSensorVoltageCylinder2Sensor4</string>
		<key>selector</key>
		<string>analysisOxygenSensorVoltageCylinder2Sensor4WithData:::</string>
		<key>unit</key>
		<string>V</string>
		<key>max</key>
		<integer>0</integer>
		<key>min</key>
		<integer>0</integer>
		<key>value</key>
		<integer>0</integer>
		<key>system</key>
		<string>电源系统</string>
		<key>dataId</key>
		<integer>23</integer>
	</dict>
	<key>011F</key>
	<dict>
		<key>description</key>
		<string>发动机起动运行时间</string>
		<key>data_key</key>
		<string>obd_engineRuntime</string>
		<key>selector</key>
		<string>analysisEngineRuntimeWithData:::</string>
		<key>unit</key>
		<string>秒</string>
		<key>max</key>
		<integer>0</integer>
		<key>min</key>
		<integer>0</integer>
		<key>value</key>
		<integer>0</integer>
		<key>system</key>
		<string>怠速系统</string>
		<key>dataId</key>
		<integer>24</integer>
	</dict>
	<key>013C</key>
	<dict>
		<key>description</key>
		<string>三元催化剂B1S1温度</string>
		<key>data_key</key>
		<string>car_catalystTempB1s1</string>
		<key>selector</key>
		<string>analysisCatalystTempB1s1WithData:::</string>
		<key>unit</key>
		<string>℃</string>
		<key>max</key>
		<integer>850</integer>
		<key>min</key>
		<integer>-40</integer>
		<key>value</key>
		<integer>0</integer>
		<key>system</key>
		<string>三元催化剂系统</string>
		<key>dataId</key>
		<integer>37</integer>
	</dict>
	<key>013D</key>
	<dict>
		<key>description</key>
		<string>三元催化剂B1S2温度</string>
		<key>data_key</key>
		<string>car_catalystTempB1s2</string>
		<key>selector</key>
		<string>analysisCatalystTempB1s1WithData:::</string>
		<key>unit</key>
		<string>℃</string>
		<key>max</key>
		<integer>850</integer>
		<key>min</key>
		<integer>-40</integer>
		<key>value</key>
		<integer>38</integer>
		<key>system</key>
		<string>三元催化剂系统</string>
		<key>dataId</key>
		<integer>0</integer>
	</dict>
	<key>013E</key>
	<dict>
		<key>description</key>
		<string>三元催化剂B2S1温度</string>
		<key>data_key</key>
		<string>car_catalystTempB2s1</string>
		<key>selector</key>
		<string>analysisCatalystTempB2s1WithData:::</string>
		<key>unit</key>
		<string>℃</string>
		<key>max</key>
		<integer>850</integer>
		<key>min</key>
		<integer>-40</integer>
		<key>value</key>
		<integer>0</integer>
		<key>system</key>
		<string>三元催化剂系统</string>
		<key>dataId</key>
		<integer>39</integer>
	</dict>
	<key>013F</key>
	<dict>
		<key>description</key>
		<string>三元催化剂B2S2温度</string>
		<key>data_key</key>
		<string>car_catalystTempB2s2</string>
		<key>selector</key>
		<string>analysisCatalystTempB2s2WithData:::</string>
		<key>unit</key>
		<string>℃</string>
		<key>max</key>
		<integer>850</integer>
		<key>min</key>
		<integer>-40</integer>
		<key>value</key>
		<integer>0</integer>
		<key>system</key>
		<string>三元催化剂系统</string>
		<key>dataId</key>
		<integer>40</integer>
	</dict>
	<key>0122</key>
	<dict>
		<key>description</key>
		<string>相对歧管真空油轨压力</string>
		<key>data_key</key>
		<string>car_vacuumOilPressure</string>
		<key>selector</key>
		<string>analysisVacuumOilPressureWithData:::</string>
		<key>unit</key>
		<string>Kpa</string>
		<key>max</key>
		<integer>0</integer>
		<key>min</key>
		<integer>0</integer>
		<key>value</key>
		<integer>0</integer>
		<key>system</key>
		<string>压力系统</string>
		<key>dataId</key>
		<integer>25</integer>
	</dict>
	<key>0124</key>
	<dict>
		<key>description</key>
		<string>氧传感器B1S1</string>
		<key>data_key</key>
		<string>car_oxygenSensorB1S1</string>
		<key>selector</key>
		<string>analysisOxygenSensorWithData:::</string>
		<key>unit</key>
		<string>N/A{n}V</string>
		<key>max</key>
		<integer>0</integer>
		<key>min</key>
		<integer>0</integer>
		<key>value</key>
		<integer>0</integer>
		<key>system</key>
		<string>传感系统</string>
		<key>dataId</key>
		<integer>26</integer>
	</dict>
	<key>0125</key>
	<dict>
		<key>description</key>
		<string>氧传感器B1S2</string>
		<key>data_key</key>
		<string>car_oxygenSensorB1S2</string>
		<key>selector</key>
		<string>analysisOxygenSensorWithData:::</string>
		<key>unit</key>
		<string>N/A{n}V</string>
		<key>max</key>
		<integer>0</integer>
		<key>min</key>
		<integer>0</integer>
		<key>value</key>
		<integer>0</integer>
		<key>system</key>
		<string>传感系统</string>
		<key>dataId</key>
		<integer>27</integer>
	</dict>
	<key>0126</key>
	<dict>
		<key>description</key>
		<string>氧传感器B2S1</string>
		<key>data_key</key>
		<string>car_oxygenSensorB2S1</string>
		<key>selector</key>
		<string>analysisOxygenSensorWithData:::</string>
		<key>unit</key>
		<string>N/A{n}V</string>
		<key>max</key>
		<integer>0</integer>
		<key>min</key>
		<integer>0</integer>
		<key>value</key>
		<integer>0</integer>
		<key>system</key>
		<string>传感系统</string>
		<key>dataId</key>
		<integer>28</integer>
	</dict>
	<key>0127</key>
	<dict>
		<key>description</key>
		<string>氧传感器B2S2</string>
		<key>data_key</key>
		<string>car_oxygenSensorB2S2</string>
		<key>selector</key>
		<string>analysisOxygenSensorWithData:::</string>
		<key>unit</key>
		<string>N/A{n}V</string>
		<key>max</key>
		<integer>0</integer>
		<key>min</key>
		<integer>0</integer>
		<key>value</key>
		<integer>0</integer>
		<key>system</key>
		<string>传感系统</string>
		<key>dataId</key>
		<integer>29</integer>
	</dict>
	<key>0128</key>
	<dict>
		<key>description</key>
		<string>氧传感器B3S1</string>
		<key>data_key</key>
		<string>car_oxygenSensorB3S1</string>
		<key>selector</key>
		<string>analysisOxygenSensorWithData:::</string>
		<key>unit</key>
		<string>N/A{n}V</string>
		<key>max</key>
		<integer>0</integer>
		<key>min</key>
		<integer>0</integer>
		<key>value</key>
		<integer>0</integer>
		<key>system</key>
		<string>传感系统</string>
		<key>dataId</key>
		<integer>30</integer>
	</dict>
	<key>0129</key>
	<dict>
		<key>description</key>
		<string>氧传感器B3S2</string>
		<key>data_key</key>
		<string>car_oxygenSensorB3S2</string>
		<key>selector</key>
		<string>analysisOxygenSensorWithData:::</string>
		<key>unit</key>
		<string>N/A{n}V</string>
		<key>max</key>
		<integer>0</integer>
		<key>min</key>
		<integer>0</integer>
		<key>value</key>
		<integer>0</integer>
		<key>system</key>
		<string>传感系统</string>
		<key>dataId</key>
		<integer>31</integer>
	</dict>
	<key>012A</key>
	<dict>
		<key>description</key>
		<string>氧传感器B4S1</string>
		<key>data_key</key>
		<string>car_oxygenSensorB4S1</string>
		<key>selector</key>
		<string>analysisOxygenSensorWithData:::</string>
		<key>unit</key>
		<string>N/A{n}V</string>
		<key>max</key>
		<integer>0</integer>
		<key>min</key>
		<integer>0</integer>
		<key>value</key>
		<integer>0</integer>
		<key>system</key>
		<string>传感系统</string>
		<key>dataId</key>
		<integer>32</integer>
	</dict>
	<key>012B</key>
	<dict>
		<key>description</key>
		<string>氧传感器B4S2</string>
		<key>data_key</key>
		<string>car_oxygenSensorB4S2</string>
		<key>selector</key>
		<string>analysisOxygenSensorWithData:::</string>
		<key>unit</key>
		<string>N/A{n}V</string>
		<key>max</key>
		<integer>0</integer>
		<key>min</key>
		<integer>0</integer>
		<key>value</key>
		<integer>0</integer>
		<key>system</key>
		<string>传感系统</string>
		<key>dataId</key>
		<integer>33</integer>
	</dict>
	<key>012C</key>
	<dict>
		<key>description</key>
		<string>EGR指令开度</string>
		<key>data_key</key>
		<string>car_EGR</string>
		<key>selector</key>
		<string>analysisEGRWithData:::</string>
		<key>unit</key>
		<string>%</string>
		<key>max</key>
		<integer>0</integer>
		<key>min</key>
		<integer>0</integer>
		<key>value</key>
		<integer>0</integer>
		<key>system</key>
		<string> </string>
		<key>dataId</key>
		<integer>34</integer>
	</dict>
	<key>012E</key>
	<dict>
		<key>description</key>
		<string>蒸发清除开度</string>
		<key>data_key</key>
		<string>car_evaporationClearance</string>
		<key>selector</key>
		<string>analysisEvaporationClearanceWithData:::</string>
		<key>unit</key>
		<string>%</string>
		<key>max</key>
		<integer>100</integer>
		<key>min</key>
		<integer>0</integer>
		<key>value</key>
		<integer>0</integer>
		<key>system</key>
		<string> </string>
		<key>dataId</key>
		<integer>35</integer>
	</dict>
	<key>012F</key>
	<dict>
		<key>description</key>
		<string>油箱剩余油量</string>
		<key>data_key</key>
		<string>car_residualOil</string>
		<key>selector</key>
		<string>analysisResidualOilWithData:::</string>
		<key>unit</key>
		<string>%</string>
		<key>max</key>
		<integer>0</integer>
		<key>min</key>
		<integer>0</integer>
		<key>value</key>
		<integer>0</integer>
		<key>system</key>
		<string>燃油系统</string>
		<key>dataId</key>
		<integer>36</integer>
	</dict>
	<key>014B</key>
	<dict>
		<key>description</key>
		<string>油门踏板的位置</string>
		<key>data_key</key>
		<string>car_throttlePedalPosition</string>
		<key>selector</key>
		<string>analysisThrottlePedalPositionWithData:::</string>
		<key>unit</key>
		<string>%</string>
		<key>max</key>
		<integer>0</integer>
		<key>min</key>
		<integer>0</integer>
		<key>value</key>
		<integer>0</integer>
		<key>system</key>
		<string> </string>
		<key>dataId</key>
		<integer>42</integer>
	</dict>
	<key>0154</key>
	<dict>
		<key>description</key>
		<string>蒸发系统蒸汽压力</string>
		<key>data_key</key>
		<string>car_vapoTension</string>
		<key>selector</key>
		<string>analysisVapoTensionWithData:::</string>
		<key>unit</key>
		<string>Kpa</string>
		<key>max</key>
		<integer>0</integer>
		<key>min</key>
		<integer>0</integer>
		<key>value</key>
		<integer>0</integer>
		<key>system</key>
		<string>压力系统</string>
		<key>dataId</key>
		<integer>41</integer>
	</dict>
	<key>015A</key>
	<dict>
		<key>description</key>
		<string>油门踏板的相对位置</string>
		<key>data_key</key>
		<string>car_throttlePedalAcceleratorPosition</string>
		<key>selector</key>
		<string>analysisVapoTensionWithData:::</string>
		<key>unit</key>
		<string>%</string>
		<key>max</key>
		<integer>0</integer>
		<key>min</key>
		<integer>0</integer>
		<key>value</key>
		<integer>0</integer>
		<key>system</key>
		<string> </string>
		<key>dataId</key>
		<integer>43</integer>
	</dict>
	<key>Instant_Fuel_Consumption</key>
	<dict>
		<key>description</key>
		<string>瞬时油耗</string>
		<key>data_key</key>
		<string>obd_airIntask</string>
		<key>selector</key>
		<string>none</string>
		<key>unit</key>
		<string>L</string>
		<key>max</key>
		<integer>0</integer>
		<key>min</key>
		<integer>0</integer>
		<key>value</key>
		<integer>0</integer>
		<key>system</key>
		<string> </string>
		<key>dataId</key>
		<integer>51</integer>
	</dict>
</dict>
</plist>
